@model IEnumerable<Customers>
@{        
    var customers = @Model.ToList();    
}

<div class="row">
    <div class="col-8 offset-col-2">
    @foreach (var customer in customers)
    {
        <h3>@customer.CompanyName</h3>
    }
    </div>
</div>

